*{
   text-align: center;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   background-color: #17202A;
   color: aliceblue;
   font-family: 'Courier New', Courier, monospace;
}

.titulo{
   margin: 1rem 1rem 0 1rem;
   padding: 1rem;
   border: 2px solid #17202A;
   background-color: gainsboro;
   font-size: 2.5rem;
   color: #17202A;
   border-radius: 1rem;
}

.subtitulo{
   width: 780px;
   margin: 0 auto;
   border-bottom: 1px solid gainsboro;
   padding: 1rem;
}

.contenedor-formulario{
   margin: 0 auto;
   margin-top: 1.5rem;
   padding: 1rem;
   background-color: gainsboro;
   width: 80%;
   height: 80vh;
   color: #17202A;
}

button{
   background-color: #17202A;
   padding: 0.5rem 1rem;
   border: none;
   border-radius: 1rem;
   color: gainsboro;
   cursor: pointer;
   font-family: 'Courier New', Courier, monospace;
   font-weight: 700;
   font-size: 1.3rem;
   /* transition: all 0.1s ease; */
   transition: all 0.3s ease;
}

button:hover{
   background: none;
   border: 2px solid #17202A;
   color: #17202A;
}

input{
   padding: 0.3rem 0.3rem;
   border-radius: 1rem;
   border: none;
   border: 1px solid #17202A;
   font-size: 1.3rem;
   font-weight: 400;
}
label{
   font-size: 1.4rem;
   font-weight: bold;
   
}

.formulario{
   margin-top: 2rem;
}

#formulario-usuario{
   width: 70%;
   margin: 0 auto;
   margin-bottom: 1rem;
   border: 1px solid #17202A;
   padding: 1rem;
   height: 60vh;
   overflow: scroll;
}

#formulario-usuario input{
   width: 5rem;
   margin-right: 2rem;
}

.clase{
   text-align: center;
   margin-bottom: 1rem;
   background-color: #17202A;
   color: gainsboro;
   padding: 0.5rem;
   border-radius: 1rem;
   font-size: 1.3rem;
}

#formulario-clases{
   display: flex;
   justify-content: space-around;
   align-items: center;
}




